:root {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
  font-size: 12pt;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
.boxout .type {
  font-weight: 700;
}

h1,
h2 {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman',
    'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-weight: normal;
}

pre {
  margin: 0.5em 0 1em 2em;
  svg {
    max-width: 100%;
  }
}

p {
  a {
    display: inline-block;
    padding: 0.2em 0.4em 0.1em 0.4em;
    margin-right: 0.3em;

    font-size: 10pt;
    text-decoration: none;
    color: #7c639a;

    border-radius: 0.3em;
    box-shadow: inset 0 0 0 2px #d1c5e0aa;
  }
}


ul,
ol {
  li {
    padding-left: 0.3em;
    p {
      text-indent: 0;
    }
  }
}

@counter-style latex-style-ol {
  system: extends numeric;
  prefix: '(';
  suffix: ')';
}

ol {
  list-style-type: latex-style-ol;
}

.boxout {
  &.proposition,
  &.lemma {
    font-style: italic;
  }

  .type {
    display: table;
    margin-top: 2em;
    margin-bottom: 1em;

    text-indent: 0;
    padding: 0.25em 0.5em 0.05em;
    border-radius: 0.3em;
    font-size: 0.8em;
    border: 2px solid #e3c591aa;
    color: #a36c0b;
  }

  &.proof,
  &.solution {
    .type {
      border-color: #b9d1b8aa;
      color: #369755;
    }

    .proof-box {
      position: relative;
      display: block;
      font-size: 1.2em;
      font-weight: 900;
      color: white;
      margin-top: 0.25em;
      margin-bottom: 1.5em;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        width: 0.4em;
        height: 0.4em;
        border: 2px solid #369755;
        border-radius: 3px;
      }
    }
  }
}

