body {
  overflow-x: hidden;
}

main {
  width: 200%;
  margin-left: -100%;

  & > .app, & > .print {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
}

.actions {
  display: none;
}

@media screen, pagedjs-ignore {
  main {
    &:has(.app.show) {
      margin-left: 0;
    }
    &:has(.print.show) {
      margin-left: -100%;
    }
    .app {
      padding: 3em 25vw;
    }
  }

  .actions {
    display: block;
    text-align: center;
    padding: 1em 0;

    button {
      border: 0;
      padding: 0.2em 1em;
      background: #ccc;
      border-radius: 3px;
      cursor: pointer;

      &.active {
        outline: 2px solid orange;
        cursor: default;
      }
    }
  }
}
