@page {
  size: A4;
  margin: 0;
  padding: 0;
}

:root {
  --pagedjs-width: 210mm;
  --pagedjs-height: 297mm;
  --pagedjs-width-right: 210mm;
  --pagedjs-height-right: 297mm;
  --pagedjs-width-left: 210mm;
  --pagedjs-height-left: 297mm;
}

.pagedjs_page {
  --pagedjs-margin-top: 25mm;
  --pagedjs-margin-right: 25mm;
  --pagedjs-margin-left: 25mm;
  --pagedjs-margin-bottom: 25mm;
  --pagedjs-pagebox-width: 210mm;
  --pagedjs-pagebox-height: 297mm;
}

// header and footer ------

[class^="pagedjs_margin"] {
  font-size: 0.8rem;
  // font-weight: 700;
}

.pagedjs_page:not(.pagedjs_first_page) {
  .pagedjs_margin-top .pagedjs_margin-top-center {
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1em;

    &::after {
      content: "Complex Analysis";
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .pagedjs_margin-bottom .pagedjs_margin-bottom-right {
    align-items: flex-start;
    justify-content: right;
    padding-top: 1em;

    &::after {
      content: "Page " counter(page) " of " counter(pages);
      white-space: nowrap;
    }
  }

  .pagedjs_margin-bottom .pagedjs_margin-bottom-left {
    align-items: flex-start;
    justify-content: left;
    padding-top: 1em;

    &::after {
      content: var(--pagedjs-string-first-title);
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

.pagedjs_first_page {
  .pagedjs_margin-bottom .pagedjs_margin-bottom-center {
    align-items: flex-start;
    justify-content: center;
    padding-top: 1em;

    &::after {
      content: "Page " counter(page) " of " counter(pages);
    }
  }
}

// page rules ------

h2 {
  break-before: always;
  // string-set: title content(text);
}

h3, h4, h5, h6, .boxout .type {
  break-after: avoid;
}
.boxout .proof-box {
  break-before: avoid;
}

// This could be a preference but uses a lot more pages
// .boxout {
//   break-inside: avoid;
// }
